*{
margin:0pt;

}
.freo{
width:500px;
padding:6px;
margin-bottom:10px;
}
option{

padding:5px;
}

.ertre{

display:none;

}
.imgs{
width:60%;
margin:1%;

}
.wer{
width:30px;


}

.retf{
padding:10px;

}
.container{
width:100%;
padding-top:2%;

}
.first_a{
padding:10px;
float:left;
width:20%;
}

second_a{
padding:10px;
float:left;
width:79%;


}
.deme{

width:94%;
margin-top:20pt;
}

.pen{
margin-top:10px;
color:green;
letter-spacing:2px;
}
.wow{
width:50%;
padding:2%;
margin:3%;

}
.btncr{
padding:10px;
width:500px;
margin-top:10pt;

}
.header{
margin-bottom:2%;
border-bottom:1px dashed black;
}
.abili{
border:1px solid lightgray;
padding:10px;


}
.fo{

width:75%;
}
.cen{
margin-left:5%;
margin-right:5%;

}
.centt{
border-top:1px dashed black;
}
.foot{
letter-spacing:2pt;
text-align:center;
color:green;
}
.footer{

margin-top:1%;
margin-bottom:1%;

}
body{
background-image:url("../image/");
background-repeat:no-repeat;
background-position:50% 90%;


}






.pers{
margin-left:4%;
margin-bottom:2%;

}
.ty{
position:fixed;
top:2%;
bottom:2%;
right:2%;
left:2%;
width:120px;
display:none;
}
.p_image{
width:100px;
top:2%;
bottom:2%;
right:2%;
left:90%;
height:120px;
position:fixed;
box-shadow:2px 2px 1px 0px solid black;
border-radius:50% 50% 50% 50%;
-moz-border-radius:10px;
-webkit-border-radius:10px;
-o-border-radius:10px;-ms-border-radius:10px;

}
fieldset{
border:1px solid aqua;
border-radius:20px;
-moz-border-radius:20px;
-webkit-border-radius:20px;
-ms-border-radius:20px;

}


fieldset:hover{
border:1px solid aqua;
border-radius:20px;
-moz-border-radius:20px;
-webkit-border-radius:20px;
-ms-border-radius:20px;
background-color:whitesmoke;
}





